.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules

#!.yarn/cache
.pnp.*

data/
temp/

src/generated/

**/.venv/
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
*.egg-info/
dist/
src/web/dist/
.vite/
.python-version
